.rosa-suricata {
    background-color: #e83e8c;
}

header {
    padding-top: 200px;
}

footer {
    background-color: #e83e8c;
}

.Productos {
    margin-top: 10rem;
}

.p-nuestros-productos {
    font: normal normal bold 60px/82px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    padding-top: 1cm;
    padding-bottom: 1cm;
}

.items-inicio {
    font: normal normal normal 22px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.card-img-top {
    top: 299px;
    left: 180px;
    background: #001D1D 0% 0% no-repeat padding-box;
    border-radius: 4px;
}

.card-title {
    top: 446px;
    left: 195px;
    width: 100px;
    height: 23px;
    text-align: left;
    font: normal normal bold 16px/24px Open Sans;
    letter-spacing: 0px;
    color: #373A3C;
    opacity: 1;
}

.card {
    border-top-width: 1;
    border-right-width: 1;
    border-bottom-width: 1;
    border-left-width: 1;
    border-top: #dddddd;
    border-color: #dddddd;
}

.list-group-flush {
    border-top-width: 1;
    border-right-width: 1;
    border-bottom-width: 1;
    border-left-width: 1;
    border-top: #dddddd;
    border-color: #dddddd;
}


.card-text {
    top: 476px;
    left: 195px;
    width: 217px;
    height: 28px;
    text-align: left;
    font: normal normal normal 16px Open Sans;
    letter-spacing: 0px;
    color: #373A3C;
    opacity: 1;
}

.card-body {
    background-color: #fff;
    border-bottom: #dddddd 1px solid;
}

.list-group-item {
    background-color: #fff;
}

.btn {
    margin-right: 2cm;
    margin-left: 1cm;
    color: #1C7CD5;
}

@media (min-width: 600px) {

    /*SOLO APARECE SI ES PANTALLA DE COMPUTADOR*/
    .bg-icons {
        text-align: center;
        letter-spacing: 0px;
        background: #17A2B8 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 53px 30px;
    }

    .bg-icons h2 {
        display: inline-block;
        width: fit-content;
        font: normal normal bold 40px/55px Open Sans;
        color: #FFFFFF;
    }

    .sas {
        display: inline-block;
        padding: 0 14px;
        color: #FFFFFF;

    }

    .fa-brands {
        color: #FFFFFF;
        width: 80px;
        height: auto;
        font-size: 60px;
    }

    .suricataFoo {
        text-align: center;
        width: 53px;
        padding: 30px 0 53px;
    }
}

@media (max-width: 599px) {
    .bg-icons * {
        /*NO SE VE POR DEFECTO. SOLO APARECE SI ES PANTALLA DE COMPUTADOR X MEDIA QUERY*/

        height: 0;
        width: 0;
        font-size: 0px;
        color: transparent;
    }

    .suricataFoo {
        text-align: center;
        width: 35px;
        padding: 58px 0;
    }
}